@import "../../../index";
@import "../../video/RecordVideo/partials/Player.scss";

.x-utu-feedback-details-popup {
    padding: 0.5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;   
}

.utu-feedback{
    position: relative;
    width: 100%;
    margin: auto;
  }

   /* ----------- Transition screens ----------- */

@media only screen
and (min-width : 768px) {
  .utu-feedback{
    width: 65%;
  }
}

/* ----------- Large screens ----------- */

@media only screen
and (min-width : 1481px) {
  .utu-feedback{
    width: 65%;
  }

}