@import "../../../index";

.endor {
	&-input {
		&-form {
			display: flex;
			flex-direction: row;
			justify-items: center;
			justify-content: center;
			align-items: center;
			padding-top: 32px;
			padding-bottom: 32px;
			&-section {
				padding: 1rem;
			}

			&-text-area {
				color: #000000;
				height: 3rem;
				width: 100%;
				margin-right: 16px;
				border-radius: $border-radius;
				border: none;
				padding: $padding-sm;
				font-weight: 300;
				font-size: 12.8px;
				align-items: center;
				align-content: center;
				background-color: $light-color-desktop;
				overflow: hidden;
			}
		}

		&-section {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			// padding: 16px 32px;
			width: 100%;
		}
	}

	&-text {
		font-size: 24px;
		&-light {
			color: black;
		}
		&-dark {
			color: white;
		}

		&-area {
			display: flex;
			flex-direction: row;
		}

		&-info {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: $primary-color-bottom;
			width: 1rem;
			height: 1rem;
			margin-left: 1rem;
			font-size: 0.8rem;
			border-radius: 50%;
			cursor: pointer;
			margin-left: 0.5rem;
			transition-timing-function: ease-in-out;
			transition-duration: 2s;
			transition: width 2s, height 4s;
		}

		&-container {
			position: relative;
			padding: 2px;
			font-size: max(12.8px, 13px);
			margin-top: 2px;
			cursor: pointer;
			display: flex;
		}

		&-tooltip {
			position: absolute;
			left: 50%;
			top: 0;
			transform: translateX(-50%);
			background: #000;
			color: #fff;
			white-space: nowrap;
			padding: 5px 10px;
			border-radius: 5px;
			visibility: hidden;
			opacity: 0;
			transition: opacity 0.5s ease;
		}

		&-tooltip::before {
			content: "";
			position: absolute;
			left: 50%;
			top: 100%;
			transform: translateX(-50%);
			border: 15px solid;
			border-color: #000 #0000 #0000 #0000;
		}

		&-container:hover &-tooltip {
			top: -110%;
			visibility: visible;
			opacity: 1;
		}

		&-body {
			font-size: 12.8px;
		}

		&-title {
			font-size: 12.8px;
		}
	}

	&-btn {
		border-radius: $border-radius;
	}
}

.endor-utt-balance {
	margin-bottom: 32px;
	display: flex;
	display: flex;
	box-sizing: border-box;
	width: 10rem;
	height: 4rem;
	border-radius: 5px 30px 30px 5px;
	background-color: $primary-color;
}
/* ----------- Large screens ----------- */

@media only screen and (min-width: 767px) {
	.endor {
		&-input {
			&-section {
				padding-left: 0;
				padding-right: 0;
			}
			&-form {
				width: 40%;
				padding: 32px;
				&-text-area {
					background-color: $light-color;
					font-size: 16px;
				}
				&-section {
					display: flex;
					flex-direction: row;
					justify-content: flex-start;
					align-items: center;
					width: 100%;
				}
			}
		}

		&-text {
			padding: 32px;
			width: 40%;
			&-info {
				font-size: 16px;
			}
		}
	}
}

@media only screen and (min-width: 830px) {
	.endor {
		&-text {
			&-body {
				font-size: 16px;
			}
			&-title {
				font-size: 16px;
			}
		}
		&-input {
			&-form {
				&-text-area {
					font-size: 16px;
				}
			}
		}
	}
}

.utt-balance-logo {
	justify-items: center;
	height: 4rem;
	width: 4rem;
}
.x-utu-utt-heading-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
