// @import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import "../../../../index.scss";

.video-msg {
  position: absolute;
}

.trust-video {
  border: none;
  position: absolute;
  object-fit: cover;
  width: 100%;
  height:100%;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); /* Safari and Chrome */
  -moz-transform: rotateY(180deg); /* Firefox */
  $v: &;
  &-container {
    width: 25rem;
    height: 40rem;
    position: relative;
  }
  &-btn {
    padding: 0 !important;
    border: none !important;
    background: none !important;
  }
  &-wrapper {
    display: flex;
    justify-content: center;
    background-color: $light-color-desktop;
    // border-radius: 0 0 10px 10px;
    overflow: hidden;
    align-items: center;
    padding: 2rem;
    &:hover {
      #{$v}-controls {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  &-msg {
    display: flex;
    align-items: center;
  }
  &-controls {
    position: absolute;
    bottom: 0;
    margin-top: 35%;
    transform: translate(0, -30%);
    border-radius: 10px;   
    align-items: center;
    justify-content: space-between;
    visibility: hidden;
    opacity: 0;
    transition: all 0.25s ease-out;

    display: none;
    &.show {
      display: flex;
    }
  }

  &-play {
    border-color: transparent;
    transition: 0.3s;
    margin: auto;
    margin-left: 3rem;
    margin-right: 3rem;
    line-height: 1.5em;
    width: 4em;
    height: 4em;
    padding: 0.6rem;
    padding-right: 0.3rem;
    cursor: pointer;
    opacity: 1;
    background-color: #ffdd33;
    font-size: 0.9rem;
    border-radius: 50%;
    font: normal normal normal 18px/1;
    &:before {
      content: "\f04b";
    }

    &.paused {
      &:before {
        content: "\f04c";
      }
    }
    &-btn {
      border-color: transparent;

    }
  }

  &-pause {
    border-color: transparent;
    transition: 0.3s;
    margin: auto;
    margin-left: 3rem;
    margin-right: 3rem;
    line-height: 1.5em;
    width: 4em;
    height: 4em;
    padding: 0.6rem;
    padding-right: 0.4rem;
    cursor: pointer;
    opacity: 1;
    background-color: #ffdd33;
    font-size: 0.9rem;
    border-radius: 50%;
    font: normal normal normal 18px/1;
    &:before {
      content: "\f04b";
    }

    &.paused {
      &:before {
        content: "\f04c";
      }
    }
    &-btn {
      border-color: transparent;
    }
  }

  &-volume {
    border-color: transparent;
    color: rgba(43, 51, 63, 0.7);
    font-size: 1em;
    padding: 0.6rem;
    border-radius: 20%;
    line-height: 1.5em;
    width: 3em;
    height: 3em;
    background-color: rgba(255, 221, 51, 0.7);
    left: 20px;
  }

  &-fullscreen {
    border-color: transparent;
    color: rgba(43, 51, 63, 0.7);
    font-size: 0.65em;
    line-height: 2.5rem;
    padding: 0.6rem;
    width: 5em;
    border-radius: 20%;
    margin-right: 5%;
    background-color: rgba(255, 221, 51, 0.7);
    right: 20px;
  }
}

/* ----------- Large screens ----------- */

@media only screen and (min-width: 1280px) {

  .trust-video-play {
    margin-left: 5rem;
    margin-right: 5rem;
  }
  .trust-video-pause {
    margin-left: 5rem;
    margin-right: 5rem;
  }
  .trust-video-controls {
    height: 10em; 
  }
}

@media only screen and (max-width: 526px) {
  .trust-video{
  
  &-play{
    width: 3em;
    height: 3em;
    padding: 0.5rem;
    padding-right: 0.3rem;
  }
  &-pause {
    width: 3em;
    height: 3em;
    padding: 0.5rem;
    padding-right: 0.3rem;
  }

  &-volume {
    width: 2em;
    height: 2em;
    padding: 0.4rem;
  }
  
  &-fullscreen {
    width: 3em;
    padding: 0.4rem;
  }
  &-controls {
    transform: translate(0, -100%)
  }
  }  
}


@media only screen and (min-width: 768px) {

}

@media only screen and (max-width: 768px) {
}
