@import "../../../index";

.video-avatar{
  width: 3rem;
}
.video-placeholder{
  height: 2rem;
}
  .review {
    &-section {
      width: 100%;
      margin-bottom: 0.5rem;
      //background-color: #fcf8e5;
      white-space: nowrap;

      &-no-data {
        justify-content: center;
      }
    }

    &-text {
      display: flex;
      flex-direction: column;
      &-sum {
        display: flex;
        text-align: left;
        padding-left: 1rem;
        font-size: 0.9rem;
        align-items: center;
        margin: 0 8px;
        white-space: pre-line;
        width: 50px;
        inline-size: 100%;
        font-style: italic;
        font-weight: 500;
      }
      &-cont {
        display: flex;
        text-align: left;
        padding-left: 1rem;
        font-size: 1rem;
        align-items: center;
        margin: 0.5rem 8px;
        white-space: pre-line;
        width: 50px;
        inline-size: 100%;
      }
      &-dark {
        color: $dark-env-typo-lines-light;
      }
      &-light {
        color: $typo-lines-dark;
      }
    }

    &-card {
      font-size: 0.7rem;
      display: flex;
      margin-right: 1rem;
      justify-content: space-around;
      &-group {
        width: 100%;
        display:flex;
        padding: 2rem 2.5rem 2rem 1.5rem;
        background-color: rgba(255, 221, 51, 0.15);
        align-items: center;
        min-height: 10rem;
        border-radius: 10px;
      }
      &-section {
        display: flex;
        overflow-x: scroll;
        padding: 1rem 0;
        /* width */
        &::-webkit-scrollbar {
          width: 10px;
          height: 8px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
          background: #f1f1f1;
          border-radius: 10px;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: $primary-color;
          border-radius: 10px;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
          background: #555;
        }
        
      }
    }

    &-img {
        border-radius: 50%;
        height: 3rem;
        border: 1px $secondary-color solid;
    }
  }

  .onerror-review-img{
    border-radius: 50%;
    height: 3rem;
    border: 1px $secondary-color solid;
  }

/* ----------- Transition screen ----------- */

@media only screen
and (min-width : 768px) {
  .review {

    &-section {
      width: 100%;

    }
}
}

@media only screen
and (min-width : 1481px) {
  .review {

    &-section {
      width: 100%;
      padding: 2rem 1rem;
      white-space: nowrap;
    }

    &-text {
      &-cont {
        inline-size: 100%;
      }
      &-dark {
        color: $dark-env-color;
      }
      &-light {
        color: $typo-lines-dark;
      }
    }
    &-card {
    padding-top: 0;
    padding-bottom: 0;
    display:flex;
    justify-content: center;
    max-width: 100%;
    word-wrap:break-word !important;
  }
}
}