.stars {
    &-section {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: auto;
      margin-right: 2rem;
      height: 10rem;
      background-color: rgba(255, 221, 51, 0.1);
      border-radius: 10px;
      padding: 1rem 1rem 0 1rem;
      &-text {
        display: flex;
        align-items: center;
        margin-top: 1rem;;
        justify-content: center;
        &-content {
          text-align: justify;
        }
      }
      &-align {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 1rem;
        // width: 30%;
       }
    }

}

/* ----------- Large screens ----------- */

@media only screen
and (min-width : 768px) {

  .stars {
    &-section {
    justify-content: start;

    }
    &-text {
      width: 60%;
     }    

     &-align {
      width: 40%;
     }
  }
}

/* ----------- Larger screens ----------- */


@media only screen
and (min-width : 1481px) {

  .stars {
    &-section {
       &-text {
        justify-content: start;
       }
     
       &-align {
         align-items: start;  
       }
    }
  }
}
