@import "../../../index";

.star-rating-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: 170px;
}

.utu-star-rating-text{
  font-size: 1rem;
  font-weight: bold;
  color: $primary-color;
}

 /* ----------- Large screens ----------- */

@media only screen
and (min-width : 768px) {

  .star-rating-section {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    width: 170px;
  }

}
