@import "../../../index";

.x-utu-feedback-details-endorsements{
  width: 100%;
  padding: 1rem 1.5rem;
  //background-color: #fcf8e5;
}
.x-utu-feedback-details-endorsements-wrapper{
  width: 100%;
  display: flex;
  margin: 1rem 0;
  justify-content: start;
  white-space: nowrap;
  overflow-x: scroll;
}
/* width */
.x-utu-feedback-details-endorsements-wrapper::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

/* Track */
.x-utu-feedback-details-endorsements-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
.x-utu-feedback-details-endorsements-wrapper::-webkit-scrollbar-thumb {
  background: $primary-color;
  border-radius: 10px;
}

/* Handle on hover */
.x-utu-feedback-details-endorsements-wrapper::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.x-utu-feedback-details-endorsements-body{
  display: flex;
  margin-right:1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  padding: 1.5rem;
  background-color: rgba(255, 221, 51, 0.15);
}
.x-utu-feedback-details-endorsements-body_text{
  margin: 1rem 0.5rem;
}




/*
******************************************** old css
*/

.endor-text-section{
  width: 50%;
}
.endor {

  &-title {
    display: flex;
    justify-self: center;
    text-align: center;
  }

  &-avatar{
    width: 2rem;
  }
  
  &-text {
    justify-content: space-around;
    padding-left: 3rem;
    padding-right: 0;
    font-size: 1rem;;
    align-items: center;
      &-light {
      color: black;
      }
      &-dark {
      color: white;
      }
    
    &-body{
      display: flex;
    }
  
    &-section {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 0;
      padding-top: 1rem;
      padding-bottom: 2rem;

      &-no-data {
        display: flex;
        justify-content: flex-start;
      }
    }
  
    &-stakes {
      &-no-data {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 2rem;
      }
      &-item {
        font-size: 1rem;;
        &-light {
        color: black;
        }
        &-dark {
        color: white;
        }
        &-2 {
          font-size: 0.8rem;;
          &-light {
          color: black;
          }
          &-dark {
          color: white;
          }
        }
      }
    }
  
    &-contacts {
      &-section {
        padding-left: 1rem;
        padding-right: 0;
        margin-top: 1rem;
        font-size: 0.7rem;
        width: 22rem;
        flex-wrap: wrap;
        text-align: left;
        &-light {
        color: black;
        }
        &-dark {
        color: white;
        }
      }
      &-body {
        font-size: 0.7rem;
        margin-top: 0.5em;
      }
    }

    &-truncate {
      display:inline-block;
      max-width: 5rem;
      vertical-align: bottom;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  
    &-image-item {
      margin-top: 1rem;
      height: 3rem;
      border-radius: 50%;
      &-light {
        border: 2px solid $primary-color-bottom;
      }
      &-dark {
        border: 2px solid $primary-color-bottom;
      }
    }
  }

}

// -----large screens---------

@media only screen
and (min-width : 768px) {
  .endor-text-input-section{

  }
  .endor {
    &-title {
        display: flex;
        justify-self: center;
        text-align: center;
    }
    
    &-text {
      padding-left: 0;

      &-section {
        //padding-top: 1rem;
        padding-bottom: 1rem;
        // align-items:flex-start;
        // justify-content: flex-start;
        margin-top: 0;
      }

      &-body {
        padding-left: 0rem;
        padding-right: 0rem;
        }
        
      &-contacts {
        &-body {
          font-size: 1rem;
        }
      }
      &-stakes {
        &-item {
          font-size: 1.5rem;
          &-2 {
            font-size: 1rem;
          }
        }
      }
  }
}

}

// -----transition screens---------

@media only screen
and (min-width : 768px) {
  .endor {

      &-section {
        margin-top: 4rem;
      }
  }
}


// -----larger screens---------

@media only screen
and (min-width : 1481px) {
  .endor {

      &-text {
        &-section {
          align-items:flex-start;
          justify-content: flex-start;
        }
      }
  }
}


